HONEY_VERSION=0.0.12
HONEY_IMAGE_PREFIX=ghcr.io/akiko99x/honey
HONEY_PANEL_DOMAIN=panel.example.com
HONEY_UPDATE_REPO=akiko99x/honey
HONEY_POSTGRES_BIND=127.0.0.1
HONEY_POSTGRES_PORT=5432
HONEY_BACKUP_KEEP=14
HONEY_BACKUP_INITIAL_DELAY_SECONDS=300
HONEY_BACKUP_INTERVAL_SECONDS=86400
COMPOSE_PROFILES=
